body{
    background-color: crimson;
  }
  
  
  
  .container{
      width: 800px;
      position: relative;
      margin: 150px auto;
      border: 10px solid rebeccapurple;
      border-radius: 20px;
      background-color: cadetblue;
      text-align: center;
      padding-bottom: 15px;
  }